<h2>Borrowed books history:</h2>
<table *ngIf="borrowedBooks && userRole == 'user'" class="bordered-table" >
   <thead>
    <tr>
        <th>User id</th>
        <th>Copy id</th>
        <th>Borrow date</th>
        <th>Return date</th>
    </tr>
   </thead>
    <tbody>
    <tr *ngFor="let n of borrowedBooks">
        <td>{{n.userId}}</td>
        <td>{{n.copyId}}</td>
        <td>{{n.borrowDate}}</td>
        <td>{{n.returnDate}}</td>
    </tr>
    </tbody>
</table>

<div *ngIf="userRole != 'user'" class="bordered-table">
    <table>
        <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Blocked</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let n of users">
            <td>{{n.username}}</td>
            <td>{{n.email}}</td>
            <td>{{n.blocked}}</td>
            <td><button (click)="pickedUserHistory(n.id)">User history</button></td>
        </tr>
        </tbody>
    </table>
</div>
<div *ngIf="userRole != 'user' && picked == true" class="bordered-table">
    <div *ngIf="borrowedBooks.length != 0">
    <table>
        <thead>
        <tr>
            <th>User id</th>
            <th>Copy id</th>
            <th>Borrow date</th>
            <th>Return date</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let n of borrowedBooks">
            <td>{{n.userId}}</td>
            <td>{{n.copyId}}</td>
            <td>{{n.borrowDate}}</td>
            <td>{{n.returnDate}}</td>
        </tr>
        </tbody>
    </table>
    </div>
    <div *ngIf="borrowedBooks.length == 0">
        <h4> This user didn't borrow any books!</h4>
    </div>
</div>
