<body>
<header>
  <div class="search-container">
    <button *ngIf="userRole == 'admin'" (click)="register()">Register librarian</button>
    <button *ngIf="userRole != 'admin'" (click)="changePassword()">Change password</button>
    <button *ngIf="userRole != 'user'" (click)="addBook()">Add book</button>
    <button (click)="borrowHistory()">Borrow history</button>
    <button *ngIf="userRole == 'librarian'" (click)="returnBooks()">Return books</button>
    <button *ngIf="userRole == 'librarian'" (click)="statistic()">Statistic</button>
    <form>
      <input type="text" placeholder="Search..." [(ngModel)]="searchTerm" name="searchTerm">
      <button (click)="search()">Search</button>
    </form>
    <button (click)="logout()">Log out</button>
  </div>
</header>
  <div class="center" *ngFor="let n of books">
    {{n.bookTitle}} -
    <div style="display: inline;" *ngFor="let i of n.authors; let last = last">
      {{i.authorFirstName}} {{i.authorLastName}}
      <span *ngIf="!last">, </span>
    </div>
    <button type="submit" (click)="bookDetails(n)">Details</button>
  </div>
  <div class="center" *ngIf="bookOfTheDay">
    <h2>Book of the day:</h2>
    <p>{{bookOfTheDay.bookTitle}}</p>
    Authors:
    <div style="display: inline;" *ngFor="let i of bookOfTheDay.authors; let last = last">
      {{i.authorFirstName}} {{i.authorLastName}}
      <span *ngIf="!last">, </span>
    </div>
    <p></p>
    Genres:
    <div style="display: inline;" *ngFor="let i of bookOfTheDay.genres; let last = last">
      {{i.genreName}}
      <span *ngIf="!last">, </span>
    </div>
    <p>{{bookOfTheDay.bookDescription}}</p>
    <p>{{bookOfTheDay.publicationYear}}.</p>
    <button type="submit" (click)="bookDetails(bookOfTheDay)">Details</button>
  </div>
</body>

