<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
  <div class="container px-4 px-lg-5">
    <a class="navbar-brand" href="#page-top">Bookstore</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto my-2 my-lg-0">
        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" (click)="logout()">Log out</a></li>
      </ul>
    </div>
  </div>
</nav>
<body>
<h4>Statistic</h4>
<div>
  <button (click)="bookStats()" style="margin-right: 50px">Book statistic</button>
  <button (click)="authorStats()" style="margin-right: 50px">Author statistic</button>
  <button (click)="genreStats()">Genre statistic</button>
</div>

<div *ngIf="bookFlag">
  <table>
    <tr>
      <th> Title </th>
      <th> Publication year </th>
    </tr>
    <tr *ngFor="let n of books">
      <td> {{n.bookTitle}} </td>
      <td> {{n.publicationYear}} </td>
      <td> <button (click)="pickedBook(n.bookId)">Average age of users</button> </td>
    </tr>
  </table>
  <p *ngIf="pickedBookFlag"><b>
    The average age of users who borrow this book is {{averageYearsBook}}
  </b></p>
</div>

<div *ngIf="authorFlag">
  <table>
    <tr>
      <th> First name </th>
      <th> Last name </th>
    </tr>
    <tr *ngFor="let n of authors">
      <td> {{n.authorFirstName}} </td>
      <td> {{n.authorLastName}} </td>
      <td> <button (click)="pickedAuthor(n.authorId)">Average age of users</button> </td>
    </tr>
  </table>
  <p *ngIf="pickedAuthorFlag"><b>
    The average age of users who borrow books by this author is {{averageYearsAuthor}}
  </b></p>
</div>

<div *ngIf="genreFlag">
  <table>
    <tr>
      <th> Name </th>
    </tr>
    <tr *ngFor="let n of genres">
      <td> {{n.genreName}} </td>
      <td> <button (click)="pickedGenre(n.genreId)">Average age of users</button> </td>
    </tr>
  </table>
  <p *ngIf="pickedGenreFlag"><b>
    The average age of users who borrow books by this genre is {{averageYearsGenre}}
  </b></p>
</div>
</body>
