<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
  <div class="container px-4 px-lg-5">
    <a class="navbar-brand" href="#page-top">Bookstore</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto my-2 my-lg-0">
        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" (click)="logout()">Log out</a></li>
      </ul>
    </div>
  </div>
</nav>
<body>
<h2 class="header">Book details</h2>
<div *ngIf="!book" class="loading">Loading book...</div>
<div *ngIf="book" class="book-details">
  <p><strong>Book title:</strong> {{book.bookTitle}}</p>
  <p><strong>Book authors:</strong>
  <div style="display: inline;" *ngFor="let i of book.authors; let last = last">
    {{i.authorFirstName}} {{i.authorLastName}}
    <span *ngIf="!last">, </span>
  </div>

  <p><strong>Book genres:</strong>
  <div style="display: inline;" *ngFor="let i of book.genres; let last = last">
    {{i.genreName}}
    <span *ngIf="!last">, </span>
  </div>

  <p><strong>Book publication year:</strong> {{book.publicationYear}}</p>
  <p><strong>Book description:</strong> {{book.bookDescription}}</p>
  <button type="button" (click)="borrow()" class="borrow-button">Borrow</button>
</div>
<div>
  <h2 class="header">Update book</h2>
  <form [formGroup]="form" *ngIf="book" class="update-form">
    <p><strong>Book title:</strong><input type="text" formControlName="bookTitle" class="update-input"></p>
    <p><strong>Book description:</strong> <textarea formControlName="bookDescription" style="height: 100px; width: 300px;" class="update-textarea"></textarea></p>
    <p><strong>Book publication year:</strong> <input type="text" formControlName="publicationYear" class="update-input"></p>
    <p><button (click)="updateBook()" class="update-button">Update</button> </p>
  </form>
</div>
</body>

